.feed{
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top:15px
}
.big-container{

}
/* .card{
 width: inherit;
} */
.card img{
    width: inherit;
    height: inherit;
}